@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>營建管理系統</title>
    <meta name="description" content="BES營管" />
    <meta name="author" content="中華工程資訊處" />
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
    <h4 style="color:red">@Html.Raw(ViewBag.ErrorMsg)</h4>
</body>
</html>
